body{
  background-image: url("https://cdna.artstation.com/p/assets/images/images/005/201/884/large/trippy-sun-pokedex-avec-pika.jpg?1489267325&dl=1");
  background-size:cover;
  background-repeat: no-repeat;
  
}

.wrapper{
  position: absolute;
  margin-top: 22%;
  margin-left: 60%;
  resize: both;
}

.mainTitle{
  display: flex;
  justify-content: center;
  font-family:'Orbitron', sans-serif;
  color: rgb(243, 243, 73);
  font-size: 40px;
  resize: both;
}


#searchBtn{
  font-family:'Orbitron', sans-serif;
  height: 40px;
  width: 500px;
  resize: both;
}

.resultSection{
  position: absolute;
  margin-top: 20%;
  margin-left: 7.5%;
  border: 10px solid white;
  background-color: rgb(95, 197, 231);
  width: 33%;
  height: 42.5%;
  resize: both;
}

.resultHeader{
  text-align: center;
  font-size: xx-large;
  font-family: orbitron;
  color: rgb(243, 243, 73);
}

#myList{
  font-family: orbitron;
  font-size:xx-large;
}



